    .scrollableContainer {
        height: 300px;
        position: relative;
        margin: 12px;
        border: 1px solid silver;
    }
    .scrollArea {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .scrollArea table {
        width: 100%;
        border-collapse: collapse;
    }

    .scrollArea table thead th {
        padding: 0;
    }

    .scrollArea table .th-inner {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: absolute;
        top: 0;
        padding: 6px 10px;
        border-left: 1px solid silver;
        border-bottom: 1px solid silver;
    }
    .scrollArea table tr th:first-child .th-inner {
        border-left: none;
    }